/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  padding-top: 48px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container-light {
  background-color: #2167aa;
}

.container-dark {
  background-color: #1d3a56;
}

@media screen and (max-width: 996px) {
  .container {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}

.logo {
  width: 200px;
  height: 200px;
}

.title {
  color: white;
}

.tagline {
  color: white;
}

.action-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
