/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  padding-top: 48px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .container {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}

.logo {
  width: 200px;
  height: 200px;
}

.actionButtonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
