.container {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph {
  margin-top: 24px;
  text-align: left;
}

@media screen and (max-width: 996px) {
  .col + .col {
    margin-top: 16px;
  }
}
